<a href="https://colab.research.google.com/github/18wh1a1240/ML-Assignments-WISE/blob/main/PerformanceMetrics_diabetics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, cross_val_score
from sklearn.metrics import confusion_matrix, classification_report, roc_auc_score, roc_curve

In [3]:
data = pd.read_csv('/content/pima-indians-diabetes.csv')

In [ ]:
usecols = ['preg', 'plas', 'pres', 'skin','test', 'mass', 'pedi', 'age', 'class']

In [ ]:
data.head()

   6  148  72  35    0  33.6  0.627  50  1
0  1   85  66  29    0  26.6  0.351  31  0
1  8  183  64   0    0  23.3  0.672  32  1
2  1   89  66  23   94  28.1  0.167  21  0
3  0  137  40  35  168  43.1  2.288  33  1
4  5  116  74   0    0  25.6  0.201  30  0

In [ ]:
data.info()

In [ ]:
arr = data.values
arr

###Classification Accuracy

In [ ]:
X = arr[:, 0:8]
y = arr[:, 8]

k_fold = KFold(n_splits=10, random_state=42, shuffle=True)
model = LogisticRegression(max_iter=500)

results = cross_val_score(model, X, y, cv=k_fold, scoring='accuracy')

In [ ]:
results.mean()

###Log Loss

In [ ]:
results = cross_val_score(model, X, y, cv=k_fold, scoring='neg_log_loss')

In [ ]:
results.mean()

###AUC Score

In [ ]:
results = cross_val_score(model, X, y, cv=k_fold, scoring='roc_auc')

In [ ]:
results.mean()

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=700, shuffle=True)

In [ ]:
model = LogisticRegression(max_iter=500)
model.fit(X_train, y_train)
pred = model.predict(X_test)

In [ ]:
confusion_matrix(y_test, pred)

In [ ]:
print(classification_report(y_test, pred))

In [ ]:
roc_auc_score(y_test, pred)

In [ ]:
import numpy as np

fpr, tpr, thresholds = roc_curve(y_test, pred)

In [ ]:
fpr

In [ ]:
tpr

In [ ]:
import matplotlib.pyplot as plt

plt.plot(fpr, tpr)
plt.title('ROC - AUC Curve')
plt.xlabel('FPR')
plt.ylabel('TPR')
plt.show()